{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="our-team-list">
  <div class="our-team-main-image">
    {{ fields.user_picture.content }}
  </div>

  <div class="our-team-main-title">
    {{ fields.name.content }}
  </div>

  <div class="our-team-main-body">
    <p>{{ fields.field_user_skills.content }}</p>
  </div>  
  {% if fields.field_team_description.content|render|trim|striptags %}    
    <div class="our-team-description">
      {{ fields.field_team_description.content }} 
    </div>  
  {% else %} 
    <div class="our-team-inner-funfact">
      <div class="our-team-inner-title">Fun Fact</div>
        {{ fields.field_user_fun_fact.content }}
    </div>  
  {% endif %}

  <div class="our-team-inner">
    <div class="our-team-inner-secimage">
      {{ fields.field_user_second_image.content }}
    </div>

    <div class="our-team-inner-details">
      	
      <div class="our-team-inner-favline">
        <div class="our-team-inner-title">Favourite line</div>
          {{ fields.field_user_favorite_line.content }}
      </div>

      <div class="our-team-inner-funfact">
        <div class="our-team-inner-title">Fun Fact</div>
          {{ fields.field_user_fun_fact.content }}
      </div>

      <div class="our-team-inner-notwork">
        <div class="our-team-inner-title">When not Working</div>
          {{ fields.field_user_when_not_working.content }}
      </div>
    </div>

  </div>
</div>














