{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="blog-post blog-post-25">
  <div class="blog-img">
    {% if fields.field_blog_image.content | length > 0 %}
      {{ fields.field_blog_image.content }}
    {% endif %}
  </div>

  <div class="blog-details">
    <div class="blog-info">
      {% if fields.title.content | length > 0 %}
        {{ fields.title.content }}
      {% endif %}
        
      <div class="blog-date-name">
        <ul>
          <li>
            {% if fields.created.content | length > 0 %}
              {{ fields.created.content }}
            {% endif %}
          </li>
          <li>
            {% if fields.uid.content | length > 0 %}
              <a href="{{base_path}}blog-author/{{ fields.name.content|replace({' ': '-'})|lower }}/my-blogs" title="{{ uid }}">{{ fields.uid.content }}</a>
            {% endif %}
          </li>
          <li class="blog-user-img">
            {% if fields.user_picture.content | length > 0 %}
              {{ fields.user_picture.content }}
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>